body {
  background-color: #fafafa;
  color: rgba(38,38,38,0.7);
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
  
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  
}

.Header {
  background-color: white;
}

.Header-container {
  display: grid;
  grid-template-columns: minmax(auto, 936px);
  justify-content: center;
  border-bottom: 1px solid rgba(38,38,38,0.7);
}

.Header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.Header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Header li {
  display: inline-block;
  margin: 0 0 0 1em;
}

.Header h1 {
  background: -webkit-linear-gradient(#fed373 4%, #f15245 4%, #d92e7f 62%,
  #9b36b7 85%,#515ecf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
    
}

  background-color: radial-gradient(circle at 33% 100%,#fed373 4%, #f15245 4%, #d92e7f 62%,
  #9b36b7 85%,#515ecf  );

.Header_nav--heart {
  width: 20px;
  height: 20px;
}
.Header_nav--user {
  width: 25px;
  height: 25px;
}
